:root{
    --blue1: rgba(36, 175, 242);
    --blue2: rgba(7, 164, 241);
    --blue3: rgba(23, 147, 217);
    --blue4: rgba(4, 127, 204);
    --light_blue: rgba(63, 194, 250);
    --dim_blue: rgba(137, 192, 223);
    --dark_blue: rgba(30, 70, 139);
    --gray: rgba(208, 216,  227);
    --dark_gray: rgba(141, 164, 196);
    --dirty_white: rgba(244, 244, 244);
}