
body{
    background-color: #ffffff;
}
.headingabout{
    text-align: center;
    margin-top: 20px;
}
.headingabout h1{
    font-size: 50px;
    color: #36455c;
    margin-top: 20px;
}
.headingabout p{
    font-size: 20px;
    color: #666;
    margin-bottom: 50px;
}
.about-us{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.about-us img{
    flex: 0 50%;
    max-width: 50%;
    height: auto;
}
.content{
    padding: 35px;
}
.content h2{
    color: #36455c;
    font-size: 24px;
    margin: 15px 0px;
}
.content p{
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
    text-align: justify;
    text-justify: inter-word;
}

@media(max-width: 768px){
    .about-us{
        flex-direction: column;
    }
    .about-us img{
        flex: 0 100%;
        max-width: 100%;
    }
    .content{
        flex: 0 100%;
        max-width: 100%;
        padding: 15px;
    }
}